{% extends 'base.html' %}
{% load static %}
{% block title %}Delete Maintenance Config{% endblock %}

{% block content %}
<div class="container my-4">
    <h1>Delete Config #{{ config.id }} - {{ config.customer_firma }}</h1>
    <p>Are you sure you want to delete this configuration?</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Yes, Delete</button>
        <a href="{% url 'maintenance_config_list' %}" class="btn btn-secondary">
            Cancel
        </a>
    </form>
</div>
{% endblock %}
