{% extends 'base.html' %}
{% load static %}
{% block title %}Complete Task{% endblock %}

{% block content %}
<div class="container my-4">
    <h1>Complete Task #{{ task.id }}</h1>
    <p>Are you sure you want to mark this task as completed?</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Yes, Complete</button>
        <a href="{% url 'maintenance_task_list' %}" class="btn btn-secondary">
            Cancel
        </a>
    </form>
</div>
{% endblock %}
